[submodule "third_party/libwally-core"]
	path = third_party/libwally-core
	url = https://github.com/ElementsProject/libwally-core
[submodule "third_party/cppcodec"]
	path = third_party/cppcodec
	url = https://github.com/adi-g15/cppcodec
